
@{
    ViewBag.Title = "Chat";
}
<div style="height:20px" class="col-md-12"></div>

<div class="container col-lg-offset-11">
    <a href="/Login/Login"><input type="button" class="btn-info btn-sm" value="Log Out" /></a>
</div>

<div class="container col-md-offset-3 col-md-6">
    <h2>Chat Application</h2><br />
    <input class="form-control" type="text" id="message" placeholder="Enter your message" /><br />
    <input class="btn-info btn-md"  type="button" id="sendmessage" value="Send" /><br />
    <input type="hidden" id="displayname" value="@ViewData["Name"]"/><br />
    <ul id="discussion"></ul><br />
</div>
@section scripts {
   
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
   
    <script src="~/signalr/hubs"></script>
   
    <script>
        $(function () {
           
            var chat = $.connection.chatHub;
          
            chat.client.addNewMessageToPage = function (name, message) {
               
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };
           
            $('#message').focus();
         
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                  
                    chat.server.send($('#displayname').val(), $('#message').val());
                   
                    $('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
